*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace,sans-serif;

}
body{

	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mainBox{

	height: 100vh;
	width: 500px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;


}

.miniBox{

	width: 55%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 1000px;

}
.inner{
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	transition: 1s;
	
}

.frontSide{
	position:absolute;
	background: linear-gradient(#de6262,#ffb88c);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateZ(25px);


}
.btn1 button{
	font-size: 20px;
	font-style: italic;
	padding: 9px 20px;
	border-radius: 20px;
	border: 2.5px solid whitesmoke;
	cursor: pointer;
	background:linear-gradient(#2193b0,#6dd5ed) ;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.btn1:hover button{

	box-shadow: none;
	background-color: white;
	background: transparent;
	color: white;


}
.backSide{
	background: linear-gradient(#43cea2,#185a9d);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateZ(-25px) rotateY(180deg) ;
	position: absolute;
	


}
.btn2 button{

	font-size: 20px;
	font-style: italic;
	padding: 9px 20px;
	border-radius: 20px;
	border: 2.5px solid whitesmoke;
	cursor: pointer;
	background:linear-gradient(#ed4264,#ffedbc) ;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	

}
.btn2:hover button{

	box-shadow: none;
	background-color: white;
	background: transparent;
	color: white;


}
.leftSide,.rightSide{
	width: 50px;
	height: 100%;
	background: #fff;
	transform: rotateY(90deg);
	position: absolute;
	top: 0;
	left: -25px;


}
.rightSide{


	transform: rotateY(-90deg);
	left: auto;
	right: -25px;


}

